.footer {
    grid-column: nav-start / full-end;
    /* grid-row: footer-start/ footer-end; */
    background-color: rgb(65, 71, 65);
    color: #fff;
    text-align: center;
    line-height: 10rem;

}